{% extends "base.html" %}

{% block title %}SignUP{% endblock %}

{% block footer %}
<!--hide and show password button script -->
<script src="/js/hideShowPassword.js"></script>
<script src="/js/app.js"></script>

    <script>
        // custom method to validate password using regex


        //form validation using jQuery Validate plagin
        $(document).ready(function() {

            $('#signUpForm').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        // this line for ajax request from the database to validate the an email wasn't already taken
                        //this is a path to the controller and a method inside
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true //here we call our custom method to validate password
                    }
                    /*password_confirmation: {
                        equalTo: '#inputPassword'
                    }*/
                },
                messages: {
                    email: {
                        remote: 'This email is already taken'
                    }
                }
            });

            /**
             * Show password toggle button
             */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });

    </script>

{% endblock %}

{% block body %}

    <h1>Welcome</h1>
   <!------------------------------------------ displaying of error messages ----------------------------------------------->
    {% if user.errors is not empty %}
    <p>Errors</p>
    <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<form method="post" action="/signup/create" id="signUpForm">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" type="email" name="email" placeholder="email address" value="{{ user.email}}" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control"/>
    </div>


    <button type="submit">Sign up</button>

</form>

{% endblock %}