{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h1>Request password reset</h1>

    <form method="post" action="/Password/request-reset">

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input class="form-control" type="email" id="inputEmail" name="email" placeholder="Email address" autofocus required />
        </div>

        <button class="btn btn-primary" type="submit">Send password reset</button>
    </form>

{% endblock %}
