{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome, {{ current_user.username }}</h1>


    {% if current_user %}
        User {{ session.user_id }} logged in

        {% else %}
        <a href="/signup/new">SignUP</a>
        <a href="/login">LogIN</a>
        {% endif %}

{% endblock %}
