{% extends 'base.html' %}

{% block title %}Pictures{% endblock %}

{% block footer %}
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            $('#formPicture').validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 6
                    },
                    caption: {
                        required: true,
                        minlength: 15
                    }
                },
                messages: {
                    caption: {
                        required: 'we need a caption',
                        minlength: 'don\'t be shy, write at least 15 characters'
                    },
                    title: {
                        required: 'we need a title',
                        minlength: 'don\'t be shy, write at least 6 characters'
                    }
                }
            });

        });
    </script>

{% endblock %}

{% block body %}

    <h1>Add a picture</h1>

    {% if picture.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in picture.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" id="formPicture" enctype="multipart/form-data" action="/pictures/add-picture">

        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input class="form-control" id="inputTitle" name="title" placeholder="title" value="{{ picture.title }}"/>
        </div>
        <div class="form-group">
            <label for="inputCaption">Caption</label>
            <textarea class="form-control" id="inputCaption" name="caption" placeholder="Caption" >{{ picture.caption }}</textarea>
        </div>
        <div class="form-group">
        <label class="custom-file">
            <input type="file" id="file" name="picture" class="custom-file-input">
            <span class="custom-file-control"></span>
        </label>
        </div>


        <button type="submit">Save</button>

    </form>

{% endblock %}
