{% extends 'base.html' %}

{% block title %}Edit picture{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            $('#formPicture').validate({
                rules: {
                    title: {
                        required: true,
                        minlength: 6
                    },
                    caption: {
                        required: true,
                        minlength: 15
                    }
                },
                messages: {
                    title: {
                        required: 'we do need the title',
                        minlength: 'be creative, write more!'
                    },
                    caption: {
                        required: 'we do need the caption',
                        minlength: 'be creative, write more!'
                    }
                }
            });

        });
    </script>

{% endblock %}

{% block body %}

    <h2>{{ picture.title }}</h2>

<div class="row">
    <div class="col-lg-8">
        <div class="thumbnail">
                <img src="{{ path }}" alt="{{ picture.title }}" class="img-responsive" style="width:100%">
                <div class="caption">
                    <p>{{ picture.caption }}</p>
                </div>
            </div>
    </div>
    <div class="col-lg-4">
        <h3>Basic info</h3>
        <dl class="dl-">
            <dt>Title:</dt>
            <dd>{{ picture.title }}</dd>
            <dt>Size:</dt>
            <dd>{{ picture.size }}</dd>
            <dt>Added by:</dt>
            <dd>{{ picture.added_by }}</dd>
        </dl>
    </div>
</div>



<form method="post" id="formPicture" enctype="multipart/form-data" action="/pictures/update?id={{ picture.id }}">

    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input class="form-control" id="inputTitle" name="title" placeholder="title" value="{{ picture.title }}"/>
    </div>
    <div class="form-group">
        <label for="inputCaption">Caption</label>
        <textarea class="form-control" id="inputCaption" name="caption" placeholder="Caption" >{{ picture.caption }}</textarea>
    </div>

    <button type="submit">Save</button>

</form>
{% endblock %}
