{% extends "base.html" %}

{% block title %}Pictures{% endblock %}


{% block body %}

    <h1>Pictures</h1> <a class="btn btn-primary" href="/pictures/add">Add new</a>
    <h3>There are some gallery pictures here</h3>

<div class="row">
{% if pictures is not empty %}
{% for picture in pictures %}

        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="/pictures/edit?id={{ picture.id }}">
                    <img src="{{ picture.path }}" alt="{{ picture.title }}" class="img-responsive" style="width:100%">
                    <div class="caption">
                        <p>{{ picture.caption }}</p>
                    </div>
                </a>
            </div>
        </div>

{% endfor %}
{% endif %}
</div>


{% endblock %}
