{% extends 'base.html' %}

{% block title %}Picture added{% endblock %}

{% block body %}

    <p>Success</p>
    <p>Thank you for submitting your picture</p>
    <a href="/Pictures/show">back</a>

{% endblock %}
