{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block body %}


    <h1>Log in</h1>


    <form action="/login/create" method="post">

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}"/>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" "/>
        </div>
        <div class="checkbox">
            <label>
            <input type="checkbox" name="remember_me" {% if remember_me%} checked="checked" {% endif %}/>
             Remeber Me
            </label>
        </div>

        <button class="btn btn-default" type="submit">Log in</button>
        <a href="/Password/forgot">Forgot your password?</a>

    </form>


    
{% endblock %}
