{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block body %}

    <h1>Posts</h1>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        {% endfor %}

{% endblock %}
