<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/mystyles.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user %}
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/profile/show">View</a></li>
                <li><a href="/pictures/show">Pictures</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>

    {% for message in flash_messages %}
    <div><h3 class="alert alert-{{ message.type }}">{{ message.body }}</h3></div>
    {% endfor %}

    {% block body %}
    {% endblock %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- jQuery plagin "Validate" for form validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>
