{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */

            // user's id in order to pass in to account controller validateEmail() method
            var userId = '{{ user.id }}';
            //alert(userId);

            $('#formProfile').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '/account/validate-email',
                            data: {
                                ignore_id: function(){
                                    return userId;
                                }
                            }
                        }
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

    <h1>Profile</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" id="formProfile" action="/profile/update">

        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" id="inputName" name="name" placeholder="Name" value="{{ user.username }}" required />
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input class="form-control" id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password" />
            <span class="help-block">Leave blank to keep your password</span>
        </div>

        <button type="submit">Save</button>
        <a href="/profile/show">Cancel</a>

    </form>

{% endblock %}
