{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd>{{ user.username }}</dd>
            <dt>email</dt>
            <dd>{{ user.email }}</dd>
        </dl>
<a href="/profile/edit">Edit</a>

{% endblock %}
